.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__name
        test
      .chat-main__group-info__group__member
        kane
    .chat-main__group-info__edit-btn
      = link_to "#", class: "chat-main__group-info__edit-btn__btn" do
        %span<>
        Edit

  .chat-main__message-list

  .chat-main__message-form