.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        kane
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "side-bar__user-name__top-items__icons__edit-group" do
          = icon('far','edit')
          %span<>
        = link_to "#", class: "side-bar__user-name__top-items__icons__edit-user" do
          = icon('fas','cog')
          %span<>
  .side-bar__group-lists
    .side-bar__group-lists__group
      .side-bar__group-lists__group__name
        techcamp
      .side-bar__group-lists__group__message
        まだメッセージがありません
    .side-bar__group-lists__group
      .side-bar__group-lists__group__name
        77期夜間
      .side-bar__group-lists__group__message
        まだメッセージがありません
    .side-bar__group-lists__group
      .side-bar__group-lists__group__name
        dチーム
      .side-bar__group-lists__group__message
        まだメッセージがありません